body { 
    margin-top: 50px; 
    margin-left: 100px;
    margin-right: 100px;
    font-family: courier;
    background-color: Honeydew;
    
    }

header {
    font-size: 200%;
    font-style: italic;
    font-weight:bold;
}

h2, h3, h4 {
    font-family: verdana, trebuchet, sans-serif;
}
a:link {
    color: DarkSlateGray;
}
a:visited {
    color: LightSlateGray;
}